@import "../../styles/variables.scss";

.block {
  margin-top: 82px;
  &__inner {
    height: 600px;
    max-width: $content-width;
    margin: 0 auto;

    border: 5px solid $brand-color;

    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_image {
      width: 60%;
    }
    &_title {
      margin-top: -70px;
      display: block;
      padding: 0 40px;
      background-color: black;
      text-align: center;
      font-size: 40px;
      color: $brand-color;
    }
    &_description {
      color: $brand-secondary;
      font-size: 28px;
      text-align: center;
    }
    &_action {
      font-size: 24px;
    }
  }
}

.slider {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_inner {
    width: 100%;
    padding: 5px;
    &--card {
      padding: 10px 0;
      max-width: 155px;
      margin-left: 0px;
      margin-right: 0px;
      transition: all 0.1s ease;

      img {
        margin-left: 50px;
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: 155px;
        border-radius: 1vw;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        -webkit-box-pack: center;
        justify-content: center;
      }
    }
  }
}
