@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";

.footer {
  background-color: $background-color;
  height: 300px;
  //   border-top: 1px solid #fff;
  color: $brand-color;

  &__inner {
    max-width: $content-width;
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
    height: 80%;

    display: flex;
    justify-content: space-between;

    &_left {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      &_logo {
        // height: 50%;
        width: 120px;
      }
      &_name {
        font-size: 50px;
      }
      &_socials {
        width: 70%;
        display: flex;
        justify-content: space-between;

        a {
          svg {
            width: 40px;
          }
        }
      }
    }

    &_right {
      width: 60%;
      &_title {
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 800;
      }
      &_contacts {
        font-family: "Cormorant Infant", serif;
        display: flex;
        justify-content: space-between;
        font-size: 32px;

        a {
          cursor: pointer;
          display: block;
          font-weight: 600;
        }
      }
    }
  }
}

@include tablet {
  .footer__inner_right {
    &_contacts {
      font-size: 28px;
    }
    &_title {
      font-size: 36px;
    }
  }
}

@include mediumTablet {
  .footer__inner_left {
    height: 60%;
    &_socials {
      width: 80%;
    }
  }
  .footer__inner_right {
    width: auto;

    &_title {
      display: none;
    }

    &_contacts {
      align-items: end;

      flex-direction: column-reverse;
      gap: 30px;
    }
  }
}

@include smallTablet {
  .footer {
    height: auto;
    &__inner {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      &_left {
        // &_logo {
        //   width: 130px;
        // }
        &_socials {
          width: 65%;
          a {
            svg {
              width: 35px;
            }
          }
        }
      }

      &_right {
        &_contacts {
          align-items: center;
        }
      }
    }
  }
}

@include mobileLandscape {
  .footer {
    &__inner {
      &_left {
        &_logo {
          width: 90px;
        }

        &_name {
          font-size: 55px;
        }
      }
    }
  }
}

@include mobile {
  .footer {
    &__inner {
      &_left {
        // &_logo {
        //   width: 110px;
        // }
        &_name {
          font-size: 40px;
        }
        &_socials {
          width: 80%;
          a {
            svg {
              width: 35px;
            }
          }
        }
      }

      &_right {
        &_contacts {
          align-items: center;
        }
      }
    }
  }
}

@include extraSmallMobile {
  .footer {
    &__inner {
      &_left {
        gap: 5px;
        &_logo {
          width: 70px;
        }
        &_name {
          font-size: 30px;
        }
        &_socials {
          // width: 60%;
          a {
            svg {
              width: 30px;
            }
          }
        }
      }

      &_right {
        &_contacts {
          align-items: center;
        }
      }
    }
  }
}

@include extraSmallMobile {
  .footer {
    &__inner {
      &_right {
        &_contacts {
          font-size: 24px;
        }
      }
    }
  }
}
