@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.block {
  max-width: $content-width;
  width: 85vw;
  margin: 0 auto;

  color: $brand-color;

  &__inner {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &_logo {
      width: 200px;
    }

    &_name {
      font-family: "Colus";
      font-size: 80px;
    }
    &_description {
      width: 80%;
      font-size: 32px;
      font-weight: 800;
      display: block;
      text-align: center;
    }
  }
}

@include mediumTablet {
  .block {
    &__inner {
      &_logo {
        width: 150px;
      }
      &_name {
        font-size: 70px;
      }
      &_description {
        width: 90%;
        font-size: 30px;
      }
    }
  }
}

@include mobileLandscape {
  .block {
    width: 90vw;
    &__inner {
      &_logo {
        width: 100px;
      }
      &_name {
        font-size: 60px;
      }
      &_description {
        width: 95%;
        font-size: 28px;
      }
    }
  }
}

@include mobileLandscape {
  .block {
    width: 95vw;
    &__inner {
      &_logo {
        width: 100px;
      }
      &_name {
        font-size: 45px;
      }
      &_description {
        width: 95%;
        font-size: 26px;
      }
    }
  }
}
@include mobile {
  .block {
    padding-bottom: 32px;
    border-bottom: 1px solid #fff;
  }
}

@include extraSmallMobile {
  .block {
    width: 95vw;
    &__inner {
      &_logo {
        // width: 300px;
      }
      &_name {
        font-size: 40px;
      }
      &_description {
        width: 100%;
        font-size: 24px;
      }
    }
  }
}

@include tinyMobile {
  .block {
    &__inner {
      &_logo {
        // width: 95%;
      }
    }
  }
}
